.primaryBtn {
  width: 250px;
  height: 48px;
  border: 1px solid black;
  background-color: transparent;
  color: black;
  border-radius: 32px;
  cursor: pointer;
}

.secBtn {
  width: 250px;
  height: 48px;
  border: 1px solid white;
  background-color: black;
  color: white;
  border-radius: 32px;
  cursor: pointer;
}

.tertiaryBtn {
  width: 250px;
  height: 48px;
  border: none;
  outline: none;
  color: black;
  font-weight: 700;
  cursor: pointer;
}

.btnGroup {
  padding: 22px 4px;
  display: flex;
  gap: 12px;
}
