body {
  margin: 16px auto;

  .header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;

    > div {
      border-radius: 16px;
    }

    .bookNavbar {
      background-color: aliceblue;
      display: flex;
      flex-direction: column;

      .navList {
        padding: 16px;
        display: flex;
        justify-content: space-between;
        width: 100%;

        .brand {
          flex: 1;
          font-weight: 700;
          font-size: 18px;
          color: #23293f;
        }

        .pages {
          flex: 2;
          font-weight: 200;
          display: flex;
          justify-content: space-evenly;

          > span > a {
            text-decoration: none;
            color: #23293f;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .title {
        font-size: 44px;
        font-weight: 700;
        padding: 36px 44px;
      }

      .subTitle {
        padding: 4px 44px;
        font-weight: 500;
        font-size: 18px;
      }
    }

    .placeholderImg {
      background-color: palevioletred;

      .heroImg {
        width: 100%;
        height: 95vh;
      }
    }
  }
}
